*{
    font-family: Open Sans;
}

li:nth-of-type(1) > a, footer > h4{
    font-family: Merienda;
}

body{
    margin: 0;
}

ul{
    list-style: none;
}

ul > li:nth-of-type(6){
    background-color: #590209;
    color: #F8F6E9;
}

footer{
    background-color: #000000;
    color: #F8F6E9;
    text-align: center;
    padding: 5px;
}